<div class="container-small-card"> 
    <div class="small-card">
        <div class="thumbnail-small-card">
            <img src="https://www.dwinawan.com/blog/thumb_article20.jpg" alt="Imagem artigo">
        </div>
        <div class="content-small-card">
            <span class="date">05 Jun, 2023</span>
            <h2>Titulo da noticia </h2>
        </div>
    </div>
    
    <div class="small-card">
        <div class="thumbnail-small-card">
            <img src="https://www.dwinawan.com/blog/thumb_article20.jpg" alt="Imagem artigo">
        </div>
        <div class="content-small-card">
            <span class="date">05 Jun, 2023</span>
            <h2>Titulo da noticia </h2>
        </div>
    </div>
    
    <div class="small-card">
        <div class="thumbnail-small-card">
            <img src="https://www.dwinawan.com/blog/thumb_article20.jpg" alt="Imagem artigo">
        </div>
        <div class="content-small-card">
            <span class="date">05 Jun, 2023</span>
            <h2>Titulo da noticia </h2>
        </div>
    </div>
</div>
