<div class="container-big-card">
    <div class="thumbnail">
        <img src="https://www.dwinawan.com/blog/thumb_article41.jpg" alt="Imagem artigo">
    </div>
    <div class="content-big-card">
        <span class="date">05 Jun, 2023</span>
        <h2>Titulo da noticia </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate vitae reiciendis expedita iusto veniam dolor excepturi rem architecto blanditiis, consequatur quae obcaecati, officia voluptatem qui aspernatur quod eaque perspiciatis quo!</p>
    </div>
</div>