/* You can add global styles to this file, and also import other style files */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 transition: 0.3s
}
body{
    background-color: #ECECEC;
}
a{
    text-decoration: none;
    color: currentColor;
}
ul>li{
    list-style: none;
}
.container{width:100%; margin: 0 auto}
@media (min-width:1080px){
    .container{max-width:1280px; padding: 0 40px;}
}

.dark {
    background: #121212;
    color: #ffffff;
    padding: 1px 10px;
}
.whitearea {
    background: #ffffff;
    padding: 1px 10px;
}

@media (min-width:770px){
    .dark{
        padding: 1px 30px;
    }
    .whitearea {
        padding: 1px 30px;
    }
}


@media (min-width:990px){
    .dark{
        padding: 1px 40px;
    }
    .whitearea {
        padding: 0 40px;
    }
}
