div.title-home{
    font-size: 20vw;
    font-weight: bold;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    padding-bottom: 2vw;
    border-top: 1px solid #494949;
    border-bottom: 1px solid #494949;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

@media (min-width:770px){
    div.title-home{
        font-size: 13vw;
        line-height: 12vw;
        margin-bottom: 3rem;
    }
}